<!doctype html>
<html>

    {% include 'partials/head.twig' %}

    <body>
        
        {% include 'partials/navigation.twig' %}
        
        <main class="container-fluid mt-4">

            <nav arial-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="home.php">Home</a></li>
                    <li class="breadcrumb-item"><a href="snowboarding.php">Snowboarding</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{detail.product.name}}</li>
                </ol>
            </nav>

            <div class="card">
                <div class="row no-gutters">
                    <aside class="col-sm-5 border-right">
                            <div class="img-big-wrap">
                                {% for image in detail.images %}
                                    <img class="img-fluid" src="../Images/Snowboards/{{image.image_file_name}}"</img>
                                {% endfor %}
                            </div> <!-- slider-product.// -->
                    </aside>

                    <aside class="col-sm-7">
                        <article class="p-5">
                            <h3 class="title mb-3">{{detail.product.name}}</h3>

                                <div class="mb-3"> 
                                    <var class="price h3 text-warning"> 
                                        <span class="currency">AU $</span><h5>{{detail.product.price}}</h5>
                                    </var>
                                </div> <!-- price-detail-wrap .// -->
                                
                                <dl>
                                    <dt>Description</dt>
                                    <dd><p>{{detail.product.description}}</p></dd>
                                    
                                    <dt>Color</dt>
                                    <dd><p class="title mb-3">{{detail.product.color}}</p></dd>
                                </dl>

                                <hr>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <dl class="dlist-inline">
                                                <dt>Quantity: </dt>
                                                    <dd> 
                                                        <select class="form-control form-control-sm" style="width:70px;">
                                                            <option> 1 </option>
                                                            <option> 2 </option>
                                                            <option> 3 </option>
                                                        </select>
                                                    </dd>
                                            </dl>  <!-- item-property .// -->
                                        </div> <!-- col.// -->
                                        
                                        <div class="col-sm-7">
                                            <dl class="dlist-inline">
                                                <dt>Size:</dt><br>
                                                    {% for size in detail.sizes %}
                                                        <dd>
                                                            <label class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" name="inlineRadioOptions">
                                                                <span class="form-check-label">{{size.size}}</span>
                                                            </label>
                                                        </dd>
                                                    {% endfor %}
                                            </dl>  <!-- item-property .// -->
                                        </div> <!-- col.// -->
                                    </div> <!-- row.// -->
                                <hr>
                            <a href="#" class="btn btn-warning"> Buy now </a>
                            <a href="#" class="btn btn-outline-primary"> <i class="fas fa-shopping-cart"></i> Add to cart </a>
                            <a class="btn btn-danger" href="#"><i class="fa fa-heart"></i> Add to wishlist</a>
                        </article> <!-- card-body.// -->
                    </aside> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- card.// -->

        </main>

    </body>

    {% include 'partials/footer.twig' %}

</html>