<!doctype html>
<html>

    {% include 'partials/head.twig' %}

    <body>
        
        {% include 'partials/navigation.twig' %}

        <main class="container-fluid mt-4">

            <nav arial-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="home.php">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Skiing</li>
                </ol>
            </nav>

            <div class="row mt-4">
                <div class="col-md-2">
                    {% include 'partials/category_ski.twig' %}
                </div>
            
                <div class="col-md-10">
                    <div class="row">
                        {% for product in products %}
                            <div class="card col-md-3 mr-4 mb-4" style="width: 18rem; ">
                                <img class="card-img-top" alt="..." src="../Images/Skis/{{product.image}}">
                                <div class="card-body">
                                    <h4 class="product-name">{{product.name}}</h4>
                                    <h6 class="product-price">${{product.price}}</h6>
                                    <p class="product-description">{{product.description | slice(0,150) ~ '...'}}</p>
                                    <a class="btn btn-success btn-lg" href="detail_skiing.php?product_id={{product.product_id}}">Detail</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                
            </div>
        </main>

    </body>

    {% include 'partials/footer.twig' %}

</html>
